<div ng-controller="HomeController" class="jumbotron">
  <div ng-repeat="question in home.questions">
    <div ng-bind-html="home.$sce.trustAsHtml(question.Text)">
      {{ question.Text }}
    </div>
    <votes
      upvotes="question.upvotes"
      downvotes="question.downvotes"
      on-up-vote="home.upVoteQuestion(question.Id)"
      on-down-vote="home.downVoteQuestion(question.Id)"
    ></votes>
    <a ui-sref="questionDetails({questionId: question.Id})">Details</a>

    <new-answer
      question-id="question.Id"
      on-save-new-answer="home.saveAnswer(question.Id, newAnswer)"
    ></new-answer>

    <ul ng-show="home.answers[question.Id]">
      <li ng-repeat="answer in home.answers[question.Id]">
        <div ng-bind-html="home.$sce.trustAsHtml(answer.Answer)"></div>
        Submitted by: <user created-by="answer.created_by"></user>
      </li>
    </ul>
  </div>
</div>
