<div ng-controller="QuestionController">
  {{ question.question }}

  <button ng-click="question.upVoteQuestion()">Vote Up</button>
  <button ng-click="question.downVoteQuestion()">Vote Down</button>

  <div>
    <textarea ng-model="question.question.newAnswerText">
          {{ question.question.newAnswerText }}
      </textarea
    >
    <button
      ng-disabled="!question.question.newAnswerText"
      ng-click="question.saveAnswer(question.Id)"
    >
      Save
    </button>
  </div>

  <ul ng-show="question.answers">
    <li ng-repeat="answer in question.answers">
      {{ answer }}
    </li>
  </ul>
</div>
